.ProfilePage__MainInfo {
  font-size: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  & > * {
    margin-bottom: 10px;
  }

  .ProfilePage__Avatar {
    height: 150px;
    width: 150px;
  }
}

.ProfilePage__Delete-Button {
  cursor: pointer;
}

.ProfilePage__ChangePasswordButtons {
  display: flex;
  margin-top: 10px;
  & > * {
    margin-right: 10px;
  }
}

.ProfilePage__Form{
  margin: 10px 0;
}

.ProfilePage__InputWrapper {
  margin-bottom: 7px;
  width: 100%;
}
.ProfilePage__Input {
  width: 100%;
}